.not-found-container{
    width: 500px;
    height: 300px;
    margin: 200px auto;
    background-color: #eee;
    border-radius: 30px;
}

.not-found-container .not-found-icon-container{
    text-align: center;
}

.not-found-container .not-found-icon-container .not-found-icon{
    width: 200px;
    height: 200px;
}

.not-found-container .not-found-text {
    text-align: center;
    margin-top: 10px;
    font-size: 32px;
}